

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.nav-expander {
  background: none repeat scroll 0 0 #BEBDBD;
  color: #000;
  display: block;
  font-size: 12px;
  text-align: center;
  margin-right: 0;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 74px;
  transition: right 0.3s ease-in-out 0s;
  width: 112px;
  padding: 4px 2px;
  border-radius: 4px 0px 0px 4px;
  font-weight: bold;
  z-index: 12;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;


}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    /*right: 20em;*/
}

#map {
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: 0em;
  top: 60px;
  font-size: 15px;
  width: 350px;
  z-index: 2000;
  
    transition: width 0.3s ease-in-out 0s;
  -webkit-transition: width 0.3s ease-in-out 0s;
  -moz-transition: width 0.3s ease-in-out 0s;
  -o-transition: width 0.3s ease-in-out 0s;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded #map {
    padding-left: 100px;
  width: 100%;
    transition: width 0.3s ease-in-out 0s;
  -webkit-transition: width 0.3s ease-in-out 0s;
  -moz-transition: width 0.3s ease-in-out 0s;
  -o-transition: width 0.3s ease-in-out 0s;
}
.nav-expanded .map-hostlist-mini{
  display: none;
}

.map-hostlist-full{
  display: none;
}
.nav-expanded .map-hostlist-full{
  display: block;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
    position: absolute;
  font-size: 24px;
  padding-right: 10px;
}

.main-menu {
  padding-top: 12px;
  background: #fefefe;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}
.map-hostlist-full img{
  max-width: 100%;
  width: 100%
}


/**/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.nav-expanded-fitter:hover {
  cursor: pointer;
}

a.nav-expanded-fitter.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    /*right: 20em;*/
}

.full-fitter {
  position: fixed;
  left: -50em;
  top: 60px;
  z-index: 2000;
  
    transition: width 0.3s ease-in-out 0s;
  -webkit-transition: width 0.3s ease-in-out 0s;
  -moz-transition: width 0.3s ease-in-out 0s;
  -o-transition: width 0.3s ease-in-out 0s;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded-fitter .full-fitter {
     z-index: 9999;
  left: 100px;
    transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}



body.nav-expanded-fitter {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
    position: absolute;
  font-size: 24px;
  padding-right: 10px;
}
.nav-expanded-fitter #show-list{
  left: -67px;
}
.more-about-bottom{
display: block;
  width: 350px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background: #cccccc;
  font-size: 13px;
  padding: 3px 0px;
}
#nav-close{

  width: 200px;
  font-size: 12px;
  text-align: center;
  text-transform: none;
  color: #3e3e3e;
    top: 13px;
    font-weight: bold;

}
































