.dialog__overlay {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
  -webkit-animation-name: anim-open;
  animation-name: anim-open;
  -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
  animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.dialog.dialog--close .dialog__content {
  -webkit-animation-name: anim-close;
  animation-name: anim-close;
}

@-webkit-keyframes anim-open {
  0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
  0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); transform: scale3d(0, 0, 1); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); }
}

@keyframes anim-close {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); transform: scale3d(0.5, 0.5, 1); }
}

.dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  pointer-events: none;
}

.dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog__content {
  width: 745px;
  max-width: 745px;
  min-width: 290px;
  background: #fff;
  padding: 20px 65px;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
  border-radius: 5px;
}

.dialog--open .dialog__content {
  pointer-events: auto;
}

/* Content */
.dialog h2 {
  font-weight: 400;
  margin: 0;
  font-size: 32px;
}

article.left-popup {
  width: 45%;
  float: left;
    margin-bottom: 30px;
  text-align: center;
}
article.right-popup {
  width: 45%;
  text-align: center;
  float: right;
}
.left-popup input,.right-popup a{
  display: block;
}
.full-popup{
   width: 100%;
  display: inline-block;
  margin-bottom: 35px;
  padding-top: 30px;
  border-top: 1px solid #fbfbfb;
}
.dialog__content .status-info{
  font-size: 16px;
    margin-top: 50px;
  margin-bottom: 30px;
}
.left-popup input{
  text-indent: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  color: #3e3e3e;
  display: block;
  background: #f7f7f7;
  box-shadow: inset 1px 1px 1px 1px #f7f7f7;
}
.dialog__content .bg_yellow{
background-color: #fec01c;
}
.dialog__content .bg_blue{
background-color: #3b5998;
}
.dialog__content .bg_orange{
background-color: #e46145;
}
.btn-cus-login{
  margin:0 auto;
    width: 252px;
      display: block;
      margin-bottom: 15px;
  border-radius: 5px;
  color: #fff;
    padding: 5px 0px;
    border: none;
}
.full-popup span{
  width: 100%;
  color: #3e3e3e;
  display: inline-block;
  font-size: 16px;
}
a.btn-cus-login:hover{
    text-decoration: none;
  color: none;
}
.full-popup a{
  color: #000;
  text-decoration: underline;
}
.facebook{
  background: url('images/facebook.jpg');
  background-repeat: no-repeat;
  background-position: 10px 5px;

}
.google{
  background: url('images/google.jpg');
  background-repeat: no-repeat;
  background-position: 11px 5px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #e1e1e1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e1e1e1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e1e1e1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #e1e1e1;
}
.dialog__content button{
  background: none;
  border: none;
  font-size: 18px;
  text-align: right;
  position: relative;
  right: -50px;
  top: -10px;
  color:#d3d1d1;
}
.left-popup:after{
content: 'or';
  position: absolute;
  left: 50%;
  top: 44%;
  color: #3e3e3e;
  font-size: 12px;
}
.left-popup span{
  font-size: 12px;
  color: #3e3e3e
}
.close-cus{text-align: right;}
#resetpass .dialog__content{
  width: 535px;
  max-width: 535px;
  padding: 20px 50px;
}
#resetpass input,#resetpass a{
   display: block;
  margin: 0 auto;

}
#resetpass input{
  width: 250px;
  margin-top: 20px;
  padding: 4px;
  background: #f7f7f7;
  border: none;
  color: #3e3e3e;
  text-indent: 15px;
}

#resetpass .full-popup a{
  background: #fec01c;
  padding: 6px 0px;
  width: 250px;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  background: #fec01c;
  text-decoration: none;
}

